extends menu.pug

block content

        h2 dia de septiembre 2018
        form(action="ejercicioDos" method="POST")
            input(type="text", name="dia")
            input(class="btn btn-danger" type="submit", value="Generar")
        h2 #{result}