extends menu.pug

block content

        h2 numero
        form(action="ejercicioCuatro" method="POST")
            input(type="number", name="numero")
            input(class="btn btn-danger" type="submit", value="Generar")
        h2 el numero es: #{r_numero}