extends menu.pug

block content

        form(action="ejercicioSeis" method="POST")
            - for(var i = 1; i <= 25; i++) {
                h2= "numero" + " " + i
                input(type="number" name="nota" + i)
            - }
            input(class="btn btn-danger" type="submit", value="Generar")
        h3 El promedio es de: #{promedio} 