extends menu.pug

block content

        form(action="ejercicioTres" method="POST")
            - for(var i = 1; i <= 3; i++){
                h2= "numero" + " " + i
                input(type="number" name="num" + i)
            - }
            input(class="btn btn-danger" type="submit", value="Generar")
            h4 el numero 1 es: #{re_num1}
            h4 el numero 2 es: #{re_num2}
            h4 el numero 3 es: #{re_num3}
