<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="bower_components/boostrap/dist/css/bootstrap.min.css")
        title Document
    body
        nav.nav.nav-pills.flex-column.flex-sm-row
            a.flex-sm-fill.text-sm-center.nav-link(href='/ejercicioUno') Ejercicio 1
            a.flex-sm-fill.text-sm-center.nav-link(href='/ejercicioDos') Ejercicio 2
            a.flex-sm-fill.text-sm-center.nav-link(href='/ejercicioTres') Ejercicio 3
            a.flex-sm-fill.text-sm-center.nav-link(href='/ejercicioCuatro') Ejercicio 4
            a.flex-sm-fill.text-sm-center.nav-link(href='/ejercicioCinco') Ejercicio 5
            a.flex-sm-fill.text-sm-center.nav-link(href='/ejercicioSeis') Ejercicio 6
            a.flex-sm-fill.text-sm-center.nav-link(href='/ejercicioSiete') Ejercicio 7
            a.flex-sm-fill.text-sm-center.nav-link(href='ejercicioOcho') Ejercicio 8
            a.flex-sm-fill.text-sm-center.nav-link(href='ejercicioNueve') Ejercicio 9
    block content
